@import './variables.css';

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	padding-top: var(--padding-top-body-mobile);
	color: var(--color-dark);
	box-sizing: border-box;

	font-family: Roboto;
    font-weight: 300;
    color: #333333;
    font-size: 16px;
    line-height: 1.6em;

	@media (--screen-lg) {
		font-size: var(--size-text-desktop);
		line-height: var(--lineheight-text-desktop);
		padding-top: var(--padding-top-body-desktop);
	}
}

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}

	&::selection {
		background: var(--color-dark);
		color: var(--color-light);
	}
}

a,
button {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease;
}

a {
	color: var(--color-primary);

	@media (hover: hover) {
		&:hover {
			color: var(--color-secondary);
		}
	}
}

figure {
	margin: 0;
}

hr {
	border: none;
	border-bottom: solid 1px var(--color-gray-light);
}

fieldset {
	appearance: none;
	border: none;
}

img,
svg {
	transition: all 0.3s ease;

	& * {
		transition: all 0.3s ease;
	}
}

img {
	display: inline-block;
	max-width: 100%;
	width: auto;
	height: auto;
}

strong,
b {
	font-weight: 700;
	color: var(--color-primary);
}

small {
	@mixin small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@mixin heading;
}

h1 {
	@mixin h1;
}

h2 {
	@mixin h2;
}

h3 {
	@mixin h3;
}

h4 {
	@mixin h4;
}

h5 {
	@mixin h5;
}

h6 {
	@mixin h6;
}

p {
	@mixin text;
	margin: 0;
	padding-bottom: 10px;
}



h4,
h4 a {
	font-weight: 300;
	font-family: Oswald;
	color: #444444;
	font-style: normal;
	font-size: 24px;

	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 1.2em;
}

h1,
h1 a {
	font-family: Oswald;
	font-weight: 300;
	font-size: 55px;
	color: #222222;
	text-decoration: none;
	font-style: normal;

	padding-top: 5px;
	padding-bottom: 5px;

	line-height: 1.5em;

	@media (--mobile-start) {
		font-size: 32px;
	}
}

h2,
h2 a {
	font-family: Roboto;
	font-weight: 300;
	font-size: 20px;
	color: #333333;
	font-style: normal;
	text-decoration: none;
	line-height: 1.7em;

	padding-top: 5px;
}

h3,
h3 a {
	font-weight: 300;
	font-family: Oswald;
	font-size: 28px;
	color: #222222;
	padding-bottom: 5px;
	line-height: 1.3em;
}

h5,
h5 a {
	font-weight: 600;
	font-family: Roboto;
	font-size: 18px;
	color: #333333;
	padding-bottom: 5px;
	line-height: 1.6em;
}

.fb-iframe {width: 100%!important;}


@media (min-width: 1200px) {

	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1400px;
	}

}